<div id="footerMenu" class="ui inverted vertical footer segment">
    <div class="ui center aligned container">
        <div class="ui stackable inverted divided grid">
            <div class="three wide column">
                <h4 class="ui inverted header">Social Media</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Twitter</a>
                    <a href="#" class="item">FaceBook</a>
                    <a href="#" class="item">Youtube</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">Follow Code</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Github</a>
                    <a href="#" class="item">StackOverflow</a>
                    <a href="#" class="item">link</a>
                    <a href="#" class="item">Link Four</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">Other</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Dev.to</a>
                    <a href="#" class="item">Medium</a>
                    <a href="#" class="item">Link Three</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header">Nitin Bisht</h4>
                <p>Developer Blogger Designer Happy</p>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <img src="assets/images/logo.png" class="ui centered mini image">
        <div class="ui horizontal inverted small divided link list">
            <a class="item" href="#">Site Map</a>
            <a class="item" href="#">Contact Us</a>
            <a class="item" href="#">Terms and Conditions</a>
            <a class="item" href="#">Privacy Policy</a>
        </div>
    </div>
</div>


</body>
</html>