<!DOCTYPE html>
<html lang="en">
<head>
    <title>BlogApp</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
    <link rel="stylesheet" href="/stylesheet/style.css">
</head>
<body>
    <div class="ui fixed inverted menu">
        <div class="ui container">
            <div class="header item"><i class="code icon"></i> DevBlogg</div>
            <a class="item" href="/">Home</a>
            <a class="item" href="/blogs/new">New Post</a>
        </div>
    </div>

